$categories: (
 ionic: color($colors, primary),
 education: #AC282B,
 job: #8E8D93,
 event: #FE4C52,
 matrimonial: #FD8B2D,
 achievement: #FED035,
);

@function auxiliary-categories() {
  @return map-remove($categories);
}

page-schedule {
  @each $track, $value in auxiliary-categories() {
   ion-item-sliding[track=#{$track}] ion-label {
     border-left: 2px solid $value;
     padding-left: 10px;
   }
  }
}
